
/*/*----FOOTER-----*/

footer#main-footer {
  background: $background_footer;
  padding: 10px 0;
  font-size: 13px;}
.logo-footer img {
  width: 152px;
  float:left;
}
.rights-reserved {
    position: relative;
    top: 3px;
}

/*/*-----FINISH FOOTER-----*/

