/*/*-----HEADER-----*/
.it-header {
	padding: 10px 0;
	.logo {
      margin-bottom: 15px;

  }
}
.header-top {
	padding: 5px 0;
	max-height: 60px;
}
.phone-number {
	color: $white;
	font-weight: bold;
	float: right;
	font-size: 13px;
	a {
		color: $white;
	}
}
/*/*-----FINISH HEADER-----*/